@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ec6b653d-20ae-41d7-8e78-5a2ec054db72/d7nzx8c-877010b3-624c-4de9-a7d6-468a18cdb81b.jpg/v1/fill/w_1258,h_635,q_70,strp/sru_promotion_art_by_su_ke_d7nzx8c-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAxMCIsInBhdGgiOiJcL2ZcL2VjNmI2NTNkLTIwYWUtNDFkNy04ZTc4LTVhMmVjMDU0ZGI3MlwvZDdueng4Yy04NzcwMTBiMy02MjRjLTRkZTktYTdkNi00NjhhMThjZGI4MWIuanBnIiwid2lkdGgiOiI8PTIwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.sKQquXLhNeLj8eI9XLAovvKy9Byh_ao0g1Zveyxv55s);
  background-size: cover;
  background-repeat: no-repeat;
}

